<form action="#" method ="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <button> Calculate</button>
</form>
{% for flashMessage in app.session.flashbag.get('notice') %}
    {{ flashMessage }}
{% endfor %}